.work-gallery .img {
    border: 1px solid #ccc;
}

.work-gallery .img:hover {
    border: 1px solid #777;
}

.work-gallery .img img {
    width: 100%;
    height: auto;
}

.work-gallery .desc {
    padding: 0px 15px 10px 15px;
    text-align: justify;
}
.work-gallery .desc .desc-heading{
    padding-top: 1em;
    font-size: 1.2em;
    height: 3em;
}
.work-gallery .desc .desc-text{
    height: 8em;
}

* {
    box-sizing: border-box;
}

.work-gallery {
    padding: 0 6px;
    float: left;
    display: inline-block;
    width: 24.99999%;
    margin-bottom: 1.5em;
}


@media only screen and (max-width: 700px){
    .work-gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .work-gallery {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}